html, body {padding: 0; margin: 0;}
html {color: #eee; background: #222; font-family: Cambria, Georgia, serif;}

input[type=text],
input[type=password]
{
  border:1px solid #eee;
  background: #181818;
  border-color: #777;
  color: #eee;
  border-radius: 3px;
  padding: 0.2em;
}

a {color: #aae;}

button, input[type=button], input[type=submit]
{
  color: #aae;
  background: #334;
  border-color: #88e;
  border-radius: 0.3rem;
  padding: 0.2rem 0.35rem;
}

main, header {padding: 0.5em;}
main {min-height:200px;}
header
{
  margin: 0;
  background: #333;
  border-bottom: 1px solid #111;
  display: flex;
  justify-content: space-between;
}
header strong a {color: #eee; text-decoration: none;}

table {border-collapse: collapse;}
th, td {padding: 0.2em; border: 1px solid dimgray;}

.success, .warning
{
  max-width: 500px;
  text-align: center;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 1.5rem auto;
}
.success {background: #98e08411; color: #98e084; border:1px solid #98e084aa;}
.warning {background: #e3695911; color: #e36959; border:1px solid #e36959aa;}
