html, body {padding: 0; margin: 0;}
html {color: #eee; background: #222; font-family: Cambria, Georgia, serif;}

input[type=text],
input[type=password]
{
  border:1px solid #eee;
  background: #181818;
  border-color: #777;
  color: #eee;
  border-radius: 3px;
  padding: 0.2em;
}

button, input[type=button], input[type=submit]
{
  color: #aae;
  background: #334;
  border-color: #88e;
  border-radius: 0.3rem;
  padding: 0.2rem 0.35rem;
}

main, header {padding: 0.5em;}
main {min-height:200px;}
header
{
  margin: 0;
  background: #333;
  border-bottom: 1px solid #111;
}
header h1 {margin: 0;}
header h1 a {color: #eee; text-decoration: none;}

table {border-collapse: collapse;}
th, td {padding: 0.2em; border: 1px solid dimgray;}

.success {color: #98e084; text-align: center;}
.warning {color: #e36959; text-align: center;}

/* Debug Information */
section#debug-information {padding: 0 1em; border-top: 1px solid #444; background: #181818;}
section#debug-information table {font-family: monospace; min-width:250px; margin: 1em;}
section#debug-information caption {text-align: left; font-weight: bold;}
section#debug-information th {background: #444;}
section#debug-information .undefined {opacity:0.5; color:red;}
section#debug-information .null {opacity:0.25;}
